.archive-journal-wrap {
    width:70%;
    margin:0 auto;
}
.archive-journal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3% 5%;
}


.archive-journal-grid img{
    aspect-ratio: 1.5/1;
    width:100%;
}
.archive-journal-grid figcaption {
    font-size: 2rem;
}
.archive-journal-grid .archive-journal-content:first-child {
    display: none;
}
.archive-journal-top {
    width:100%;
    position: relative;
    font-size: 2.6rem;
}.archive-journal-top img{
    width:100%;
    aspect-ratio: 2.5/1;
    margin:10% 0 0 0;
}
.archive-journal-top figcaption{
    position: absolute;
    color: white;
    bottom: 10%;
    left: 10%;
    background: #494949;
    padding: 1%;

}
.archive-journal-content a:hover img{
    border:4px solid white;
    transition: all .3s;

}

@media screen and (max-width: 768px) {
    .archive-journal-grid {
        grid-template-columns: 1fr;
        margin:15% 0 0 0;
    }
    .archive-journal-grid .archive-journal-content:first-child {
        display: block;
    }
    .archive-journal-top {
display: none;
    }
    
}