/*****************ヒーローイメージ*****************************************/
.hero-image {
width:100%;
height:90dvh;
position: relative;
overflow: hidden;
margin-top:-120px;

}

.hero-image::before {
    content: "";
    background-image: url(../img/hero-image.jpeg);
width:100%;
height:100%;
display: inline-block;
background-size: cover;
vertical-align: middle;
position: relative;
z-index: 1;
background-position: top 30% right 0;
}


.hero-image-txt {
    font-family: 'Klee One', cursive;
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: -18%;
    text-align: center;
    background-color: rgba(75, 122, 151, 0.5);
    border-radius: 185px;
    color: white;
    padding: 4% 20% 4% 5%;
}

.hero-image-txt h1{
    font-size:4.8rem ;
    text-shadow:
            3px 3px 0px rgba(74, 74, 74, 0.42), -3px -3px 0px rgba(74, 74, 74, 0.42),
           -3px 3px 0px rgba(74, 74, 74, 0.42),  3px -3px 0px rgba(74, 74, 74, 0.42),
            3px 0px 0px rgba(74, 74, 74, 0.42), -3px -0px 0px rgba(74, 74, 74, 0.42),
            0px 3px 0px rgba(74, 74, 74, 0.42),  0px -3px 0px rgba(74, 74, 74, 0.42);
    line-height: 6rem;
        }
.hero-image-txt span {
    font-size: 1.6rem;
    letter-spacing: 0.32rem;
    
}
.hero-image-txt button {
    width: 210px;
    margin: 5% auto;
    height: 53px;
    border: 2px solid white;
    text-align: center;
    font-size: 2.4rem;
    transition: all .5s ease-out;

}
.hero-image-txt button:hover{
color:#337AA6;
background-color: rgb(255, 255, 255);
border:2px solid #337AA6;
transition: all .5s ease-out;
}


/*****************ジャーナル*****************************************/
.journal {
    padding: 5% 0 0 0;
    font-family: 'Klee One', cursive;

}
.journal h2 {
    font-family: 'Jacques Francois';
    font-size: 4rem; 
}
.journal-top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.journal-top a{
    text-decoration: underline;
    padding: 0 0 1% 2%;
}
.journal-top a:hover{
    color:#ff0000;
transition: all .2s ease-out;
}
.journal-images {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap:2px;
    padding: 2% 0 0 0;
 }

.journal-images img {
        aspect-ratio: 1.5/1.7;
        transition: all .3s ease;

}
.journal-image {
    position: relative;
    overflow: hidden;

}
.journal-image figcaption {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    font-size: 1.6rem;
}
.journal-image:hover img{
    transform: scale(1.2);
    transition: all .6s ease;
}




/*****************みんなの疑問*****************************************/
.top-questions-wrap {
    padding:3% 0 0 0;
    font-family:     'Klee One', cursive;
    
}
.top-questions-wrap h2 {
    font-size: 4rem;
    text-align: center;
}
.top-questions {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 25px;
    width: 75%;
    margin: 2% auto 0;
    justify-items: center;
}
.top-question {
    background-color:#337AA6 ;
    color:white;
    text-align: left;
    width: 98%;
    margin: 0 0 0 5%;
}
.top-question button {
    margin:5px;
    border:2px solid white;
    position: relative;
    width: 98%;
    height: 70px;
}
.top-question a {
    padding:0 0 0 8%;
}
.top-question a::before {
    content: "";
    background-image: url(../img/ASBY不動産.svg);
width:50px;
height:50px;
display: inline-block;
background-size: cover;
vertical-align: middle;
position: absolute;
left:-20px;
bottom:6px;
}
.top-question a:hover::before{
    transform: rotate(360deg);
    transform-origin:50% -0%;
    transition: all 1s ease-in;
}




/*****************リフォーム可能箇所*****************************************/
.reform-areas-wrap {
    padding:5% 0 0 0;
    font-family:     'Klee One', cursive;
    
}


.reform-areas-wrap h2 {
    font-size: 4rem;
    text-align: center;
}
.reform-areas-wrap h2::after {
    content:"";
    display:block;
    width:80px;
    height:5px;
    background-color:#FF792E;
    margin:0 auto;
}
.reform-areas {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 25px 25px; 
    width:70%;
    margin:2% auto 0;
}
.reform-area {
    position: relative;
}
.reform-area img{
    aspect-ratio: 1/1;
    background-color: #337AA6;
    width:100%;
}
.reform-area figcaption{
    position: absolute;
    bottom:10%;
    left:10%;
    background-color: #B75C09;
    color:white;
    padding:1% 10%;
    font-size: 1.4rem;
}
.reform-areas a:hover {
    opacity: 0.8;
}
.reform-area-p {
    width: 70%;
    margin: 0% auto ;}

    .reform-area-p p{
    float: right;
}    


/*****************リフォーム可能箇所*****************************************/
.reform-step-wrap {
    padding:5% 0 0 0;
    font-family:     'Klee One', cursive;
    
}
.reform-step-wrap h2 {
    font-size: 4rem;
    text-align: center;
}
.reform-step-wrap h2::after {
    content:"";
    display:block;
    width:80px;
    height:5px;
    background-color:#FF792E;
    margin:0 auto;
}
.reform-steps {
    width:100%;
    height:50dvh;
    position: relative;
    margin: 2% 0 0 0;
    display: flex;
    justify-content: space-around;
}
.reform-steps::before {
    content: "";
    background-image: url(../img/reform-step.jpg);
    width:100%;
    height:50dvh;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-position:top 60% left 0;
    transform: scale(-1, 1);
    filter: brightness(0.8);
}
.reform-step {
    width: 25%;
    border: 2px solid white;
    background-color: rgba(139, 139, 139, 0.7);
    color:white;
    text-align: center;
    padding:1% 3%;
    height:170px;
    position: absolute;
}
.reform-step h3{
    font-size: 3rem;
}
.reform-step p{
    text-align: left;
    font-size: 1.2rem;
    padding: 7% 0 0 0;
}
.reform-step:first-child {
    top:10%;
    left:10%;

}
.reform-step:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.reform-step:last-child {
    bottom:10%;
    right:10%;

}


/*****************リフォームするならリフォームウォーカーで*****************************************/
.reformwalker-ad {
    text-align: center;
    padding:5% 0 0 0 ;
}



/*****************みんなの疑問の答え*****************************************/
summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
  }
  summary {
    display: block;
    list-style: none;
  }
  summary {
    cursor: pointer;
    padding: 3% 7%;
    background-color: #337AA6;
    height: 60px;
    font-size: 2.0rem;
    color: white;

  }
  details {
    position: relative;
  }
  details[open] .top-answer-detail{
    animation: fadeIn .8s ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; /* 透明 */
      transform: translateY(-10px); /* 上から表示 */
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  summary::before {
    content: "";
    background-image: url(../img/point.svg);
width:55px;
height:50px;
display: inline-block;
background-size: cover;
vertical-align: middle;
position: absolute;
top:-15px;
left:0;

  }
  summary::after {
    content: "";
    background-image: url(../img/矢印アイコン\　下4.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    top: 30px;
    right: 5%;
    transform: translate(0, -50%);
    transition: all .5s;

}
details[open] summary::after{
    transform: rotate(180deg);
    top:20px;
    transition: all .5s;
}
  .top-answers-wrap {
    background-color: white;
    padding:5% 0 0 0;
    background-image: url(../img/ASBY不動産.svg);
    background-color:rgba(255,255,255,0.8);
background-blend-mode:lighten;
    background-repeat: repeat;
    background-size: 100px;
    font-family:     'Klee One', cursive;

  }

  .top-answers {
    width:50%;
    margin:0 auto;
    display: grid; 
    gap: 30px 0px;   }
.top-answer-detail {
    background: #d9d9d9;
    color: black;
    padding: 5% 5% 10%;
    font-size: 1.4rem;
}
.top-answer-detail a{
    padding:5% 0;
    float: right;
    text-decoration: underline;
    color: red;
}



/*****************私たちの強み*****************************************/
.strong-point-wrap{
    padding:5% 0 0 0;
    font-family:     'Klee One', cursive;
    
}
.strong-point-wrap h2 {
    font-size: 4rem;
    text-align: center;
}
.strong-point-wrap h2::after {
    content:"";
    display:block;
    width:80px;
    height:5px;
    background-color:#FF792E;
    margin:0 auto;
}
.strong-points {
    text-align: center;
    padding: 2% 0 0 0;
}
.strong-point:last-child {
    padding: 3% 0 0 0;

}


/*****************ループスライド*****************************************/
.loopslide-wrap {
    padding: 6% 0;
}
.loopSlide {
    display: flex;
    width: 100vw;
    height: 200px;
    overflow: hidden;
}
.loopSlide   img {
        width: auto;
        height: fit-content;
}
.loopSlide   img:first-child {
            animation: slide1 60s -30s linear infinite;
        }
 
        .loopSlide   img:last-child {
            animation: slide2 60s linear infinite;
        }
 
    

 
@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
 
@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}