.single-constructino-wrap {
    font-family: 'Klee One', cursive;
    width:70%;
    margin:0 auto;
}
.single-constructino-wrap h2{
    font-size: 2.5rem;
    color:white;
    background-image: url(../img/woodback.jpg);
    background-size: cover;
    padding: 1%;
    margin:8% 0 0 0;
}

.construction-about-table {
    width: 100%;
    border-radius: 11px;
    background: #FFF;
    margin: 2% 0 0 0;
    padding: 5% 10%;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}.construction-about-table td,
.construction-about-table th{
    padding:1.5% 0 1.5% 5%;
    border: 1px solid black;
    font-size: 1.8rem;
}
.construction-about-message-grid
 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "construction-about-message-img construction-about-message-txt construction-about-message-txt"; 
}
.construction-about-message-txt { 
    grid-area: construction-about-message-txt;
    font-size: 1.6rem;
    padding: 10%;
}
.construction-about-message-img { grid-area: construction-about-message-img; }

section.construction-about-message {
    border: 1px solid #000;
    background: #FFF;
    margin: 6% 0 0 0;
    outline: 1px dashed black;
    outline-offset: -10px;
}.construction-about-message-img img{
    transform: scale(0.5);
}
.construction-ba-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 8%;
    padding: 8% 0 0 0;
}
.construction-ba-grid figure:first-child:before {
    content: "";
    background-image: url(../img/Arrow\ 1.svg);
    width: 55px;
    height: 70px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 5;
}
.construction-ba-grid figure,
.construction-ba-grid img
{
    width:100%;
    height:100%;
    position: relative;
}
.construction-ba-grid figcaption{
font-size: 3rem;
font-family: 'Klee One', cursive;
position: absolute;
left:0;
top:-13%;

}
.construction-ba-grid figure:first-child img {
    border:10px solid #996536;
}
.construction-ba-grid figure:last-child img {
    border:10px solid #FFC700;
}

section.construction-ba {
    margin: 5% 0 8% 0;
}