.company-wrap {
    width: 70%;
    margin: 0 auto;
}

.company-top h2 {
    color: #000;
font-size: 4rem;
font-family: Inter;
font-weight: 600;
padding:10% 0 0 0 ;
}

.company-top h2::after{
    content:"";
    width:100%;
    height:10px;
    background: linear-gradient(90deg, #0094FF 0%, #0094FF 23.56%, #00FFD1 100%);
    display: block;
}

.company-top figure {
    padding:2% 0 0 0 ;
}

.company-top figure img{
    width:100%;
    aspect-ratio: 2/1;
}

.company-message {
    padding:8% 0 0 0;
}

.company-message h2 {
    color: #000;
    font-size: 3rem;
    font-family: Inter;
    font-weight: 600;
}    
.company-message h2::before {
    content:"";
    width:10px;
    height:10px;
    background: linear-gradient(90deg, #0094FF 0%, #0094FF 23.56%, #00FFD1 100%);
    display: inline-block;
    margin:0 0 .8% 0;
}
.company-message-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 6%; 
    grid-template-areas: 
      "company-message-president company-message-txt company-message-txt"; 
      padding: 2% 0 0 0;

    }
    .company-message-grid img{
        width:100%;

    }
  .company-message-txt { 
    grid-area: company-message-txt; 
font-size: 1.4rem;
}
  .company-message-president {
     grid-area: company-message-president; 
    }

.company-message-txt span {
    float: right;
    padding: 10% 10% 0 0;
}

.company-construction h2 {
    color: #000;
    font-size: 3rem;
    font-family: Inter;
    font-weight: 600;
}    
.company-construction h2::before {
    content:"";
    width:10px;
    height:10px;
    background: linear-gradient(90deg, #0094FF 0%, #0094FF 23.56%, #00FFD1 100%);
    display: inline-block;
    margin:0 0 .8% 0;
}

.company-construction {
    padding:8% 0 0 0;
}

.company-construction figure {
    margin: 4% 0 0 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.company-construction img {
    padding:5%;
    width:100%;
}

.company-about h2 {
    color: #000;
    font-size: 3rem;
    font-family: Inter;
    font-weight: 600;
}    
.company-about h2::before {
    content:"";
    width:10px;
    height:10px;
    background: linear-gradient(90deg, #0094FF 0%, #0094FF 23.56%, #00FFD1 100%);
    display: inline-block;
    margin:0 0 .8% 0;
}

.company-about {
    padding:8% 0 0 0;
}
.company-about-table {
    width: 100%;
    border-radius: 11px;
    background: #FFF;
margin:2% 0 0 0;
padding: 5% 10%;
}

table , td, th {
    border-collapse: collapse;
    width: 100%;

}
td, th {
    padding: 1.5% 0;
    width: 30px;
    height: 25px;
    font-size: 1.8rem;}
    .google-map {
        padding: 8% 0;
    }
    .google-map iframe {
        width:100%;
    }

    @media screen and (max-width: 768px) {
        .company-wrap {
            width: 90%;
        }
        .company-message-grid {
display: block;        }
.company-message-txt {
    font-size: 1.6rem;
}
    }